@import url('https://code.ionicframeworkcom/ionicons/2.0.1/css/ionicons.min.css');
*,*:before, *:after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #4d5974;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
}
h3{
    font-size: 1.5rem;
    color: #373d51;
    padding: 1.3rem;
    margin: 0;
}
.accordion a{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}
.accordion a:hover,
.accordion a:hover::after{
    cursor: pointer;
    color: #03d5d2;
}
.accordion a::after{
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #7288a2;
    text-align: center;
}
.accordion a.active::after{
    font-family: 'inherits';
    content: '\f209';
    color: #03d5d2;
    border: 1px solid #03d5d0;

}
.accordion.accordion-item.content{
    padding: 0 1rem;
    opacity: 0;
    overflow: hidden;
}